
<div>
  <div>
      <div>
        <h1>Example Form</h1>
          <form [formGroup]="exform">
              <div>
                <label>Name:</label>
                <input formControlName="name" type="text">
                <small *ngIf="name.invalid && name.touched">Name is Required</small> 
              </div>
              <label>Gender:</label>
              <div class="form-group">
                  <div>
                      <input type="radio" formControlName="gender"  name="fav_language" value="Male">Male<br>                  
                  </div>
                  <div>
                      <input type="radio" formControlName="gender" name="fav_language" value="Female">Female<br>
                  </div>
                  <div>
                      <input type="radio"  formControlName="gender" name="fav_language" value="Others">  Others
                  </div>                  
              </div>
              <div>
                  <label>Country:</label>
                  <input formControlName="country" type="text">
                  <small *ngIf="country.invalid && country.touched">country is Required</small> 
              </div>
              <div>
                  <label>City:</label>
                  <input formControlName="city" type="text">
                  <small *ngIf="city.invalid && city.touched">city is Required</small>
              </div>
              <div *ngIf="showAge" >
                  <label class="col-form-label">Age:</label>
                  <input formControlName="age" type="text">
                  <small *ngIf="age.invalid && age.touched">Age is Required</small> 
              </div>
              <button (click)="clicksub()" [disabled]="exform.invalid" type="button">Submit</button>
            </form>
      </div>
  </div>
</div>
